page-atividade-questoes {

    .text-center .toolbar-title{
        font-size: 1.3rem;
    }

    .pagination button {
        font-size: 1.1rem;
    }

    ion-label {
        white-space: normal;
    }

}
